<div id="<%= dom_id cart_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= cart_item.product_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cart:</strong>
    <%= cart_item.cart_id %>
  </p>
</div>
